@font-face {
    font-family: "MicrosoftYaHei";
    src: url("../fonts/Microsoft YaHei.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SimSun";
    src: url("../fonts/SimSun.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}